body{
	background-color: #f4f4f4;
}
label{
	position: relative;
}
input[type="radio"],
input[type="checkbox"]{
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
input[type="radio"] ~ span,
input[type="checkbox"] ~ span{
	display: inline-block;
	width: 29%;
	padding: 0.4rem 0.066667rem;
	border: 1px solid #e4e4e4;
	margin: 0.4rem 1% 0 1%;
	border-radius: 3px;
	font-size: 15px;
	color: #3e3e3e;
	background-color: #fff;
}
input[type="radio"]:checked ~ span,
input[type="checkbox"]:checked ~ span{
	border-color: #e01222;
	color: #e01222;
}
input[type="submit"].form_btn,
.form_btn{
	width: 100%;
	height: 1.173333rem;
	border: none;
	background-color: #e01222;
	border-radius: 6px;
	color: #fff;
	text-align: center;
	font-size: 16px;
}